@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="jumbotron text-center bg-primary text-white p-5 rounded">
        <h1 class="display-4">Welcome to My ASP.NET MVC App</h1>
        <p class="lead">This is a modern web application built with ASP.NET MVC and Bootstrap.</p>
        <hr class="my-4">
        <p>Explore the features and functionality we offer.</p>
        <div class="d-flex justify-content-center gap-2">
            <a class="btn btn-light btn-lg" href="#" role="button">Learn More</a>
            <a class="btn btn-outline-light btn-lg" href="#" role="button">Get Started</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Feature 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Feature One</h5>
                    <p class="card-text">A brief description of this amazing feature.</p>
                    <div class="d-flex justify-content-center gap-2">
                        <a href="#" class="btn btn-primary">Read More</a>
                        <a href="#" class="btn btn-outline-primary">Try Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Feature 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Feature Two</h5>
                    <p class="card-text">Another exciting feature to check out.</p>
                    <div class="d-flex justify-content-center gap-2">
                        <a href="#" class="btn btn-primary">Read More</a>
                        <a href="#" class="btn btn-outline-primary">Try Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Feature 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Feature Three</h5>
                    <p class="card-text">Something cool that enhances the experience.</p>
                    <div class="d-flex justify-content-center gap-2">
                        <a href="#" class="btn btn-primary">Read More</a>
                        <a href="#" class="btn btn-outline-primary">Try Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


