@using RunnersWebApp.ViewModels
@model RegisterViewModel

@{
	ViewData["Title"] = "Sign up";
}

<div class="container d-flex justify-content-center align-items-start vh-100 pt-5">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Login</h2>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }

        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Email -->
            <div class="mb-3">
                <label asp-for="EmailAddress" class="form-label">Email</label>
                <input asp-for="EmailAddress" class="form-control" required placeholder="Enter your email">
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" required placeholder="Enter your password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <!-- Confirm Password -->
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm password</label>
                <input asp-for="ConfirmPassword" class="form-control" required placeholder="Confirm your password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <!-- Login Button -->
            <input class="btn btn-primary w-100" type="submit" value="Sign up" />
        </form>
    </div>
</div>